*{
	padding: 0;
	margin: 0;
}
.btn{
	color: #FFFFFF;
	background-color: #4B208C;
	padding: 15px 18px 15px 18px;
	text-decoration: none;
	border-radius: 30px;
}
.border_c{
	border: 4px solid #4B208C;
}
.btn-a{
	color: #FFFFFF;
	background-color: #4B208C;
	padding: 15px 18px 15px 18px;
	text-decoration: none;
	border-radius: 5px;
}
input[type="button"]{
	color: #FFFFFF;
	background-color: #4B208C;
	padding: 9px 18px 9px 18px;
	margin-left: -9px;
}
.color-h{
	color: #4B1F90;
}
section:nth-child(even){
	background-color: #EAE6F5;
}
section{
	padding: 80px 5px 60px;
}
header{
	width: 100%;
	height: auto;
	background-color: #EAE6F5;
}

.c_nav li a{
	padding: 8px;
	font-size: 18px;
	text-transform: uppercase;
}
.c_nav li .active{
	background-color: #4B1F90;
	border-radius: 30px;
	color: #fff;
}
.c_nav li a:hover{
	background-color: #4B1F90;
	border-radius: 30px;
	color: #fff;
}
.card_h{
	position: relative;
}
.card_h:hover::after{
	position: absolute;
   content: "";
   height: 8px;
   background-color: #4B1F90;
   width: 100%;
   top: 0;
   border-radius: 5px 5px 0px 0px;
   transition: all 0.5s;
}
.active-c::after{
	position: absolute;
   content: "";
   height: 8px;
   background-color: #4B1F90;
   width: 100%;
   top: 0;
   border-radius: 5px 5px 0px 0px;
   transition: 0.2s;
}

.blog {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.blog:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.blog-img {
  display: block;
  overflow: hidden;
}

.blog img {
  transition: all 1s;
}
#contact{
	background-color: #FFFFFF;
}
footer{
	padding: 80px 5px 60px;
	background-color: #190834;
}
.icon i{
	height: 40px;
	width: 40px;
	background-color: #FFF;
	border-radius: 50%;
	line-height: 35px;
	text-align: center;
	color: #000;
	border: 3px solid #FFF;
	display: inline-block;
}
.icon i:hover{
	background-color: #000;
	color: #FFF;
	border: 3px solid #FFF;
	transition: all 1s;
}
